{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}
{% block body %}
    <div class="row justify-content-center text-center">
        <h1>Register</h1>
    </div>
    <form class="form p-3">
        <label class="label" for="username">Username:</label>
        <input id="username" class="form-control" required>
        <label class="label" for="password">Password:</label>
        <input id="password" class="form-control" type="password" required>
        <button class="btn btn-primary" type="button" onclick="register()">Register</button>
    </form>
    <script>
        function register() {
            $.post("/register-api/", {"username": $("#username").val(), "password": $("#password").val()}).then(function () {
                window.location.href = "/"
            });
        }
    </script>
{% endblock %}
{% block navid %}register{% endblock %}