{% import "macros.html" as macros %}
{% macro modules_and_mounts(modules, mounts) -%}
    {% if modules.__len__() != 0 %}
        <div class="col-6">
            <div class="row justify-content-center text-center">
                <h2>Modules</h2>
            </div>
            <div class="list-group" id="modules">
                {% for module in modules %}
                    <div class="list-group-item {% if module.symbol == 'MODULE_CARGO_HOLD_I' %}list-group-item-primary{% elif module.symbol == 'MODULE_CREW_QUARTERS_I' %}list-group-item-info{% endif %}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ module.name }}</h5>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item list-group-item-info"><i class="bi bi-person-fill"></i> {{ module.requirements.crew }}</li>
                                <li class="list-group-item list-group-item-warning"><i class="bi bi-lightning-charge-fill"></i> {{ module.requirements.power }}</li>
                            </ul>
                        </div>
                        <small>{{ module.symbol }}</small>
                        <p class="mb-1">{{ module.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if mounts.__len__() != 0 %}
        <div class="col-6">
            <div class="row justify-content-center text-center">
                <h2>Mounts</h2>
            </div>
            <div class="list-group" id="mounts">
                {% for mount in mounts %}
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ mount.name }}</h5>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item list-group-item-info"><i class="bi bi-person-fill"></i> {{ mount.requirements.crew }}</li>
                                <li class="list-group-item list-group-item-warning"><i class="bi bi-lightning-charge-fill"></i> {{ mount.requirements.power }}</li>
                            </ul>
                        </div>
                        <small>{{ mount.symbol }}</small>
                        <p class="mb-1">{{ mount.description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if modules.__len__() == 0 and mounts.__len__() == 0 %}
        <p>No modules or mounts</p>
    {% endif %}
{%- endmacro %}
{% macro display_frame(frame) -%}
    <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-rocket-takeoff-fill"></i> {{ frame.name }}</h5>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-info"><i class="bi bi-person-fill"></i> {{ frame.requirements.crew }}</li>
                <li class="list-group-item list-group-item-warning"><i class="bi bi-lightning-charge-fill"></i> {{ frame.requirements.power }}</li>
                <li class="list-group-item list-group-item-secondary"><i class="bi bi-shield-fill-check"></i> {{ frame.condition }}</li>
            </ul>
        </div>
        <small>{{ frame.symbol }}</small>
        <p class="mb-1">{{ frame.description }}</p>
        <p class="mb-1"><b>Module Slots</b> {{ frame.module_slots }}</p>
        <p class="mb-1"><b>Mounting Points</b> {{ frame.mounting_points }}</p>
    </div>
{%- endmacro %}
{% macro display_crew(crew) -%}
    <div class='list-group-item list-group-item-info'>
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-person-fill"></i> {{ crew.current }} People</h5>
            <p class="mb-1 small">{{ crew.required }} Required</p>
        </div>
        <p class="mb-1">The capacity of this ship is {{ crew.capacity }} people.
            The crew has {{ crew.morale }} morale, {{ crew.rotation.value }} rotation, and has {{ crew.wages }} wages.
        </p>
    </div>
{%- endmacro %}
{% macro display_reactor(reactor) -%}
    <div class="list-group-item list-group-item-warning">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-lightning-charge-fill"></i> {{ reactor.name }}</h5>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-info"><i class="bi bi-person-fill"></i> {{ reactor.requirements.crew }}</li>
                <li class="list-group-item list-group-item-secondary"><i class="bi bi-shield-fill-check"></i> {{ reactor.condition }}</li>
            </ul>
        </div>
        <small>{{ reactor.symbol }}</small><br>
        <small><b>Power</b> {{ reactor.power_output }}</small>
        <p class="mb-1">{{ reactor.description }}</p>
    </div>
{%- endmacro %}
{% macro display_engine(engine) -%}
    <div class="list-group-item list-group-item-success">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><i class="bi bi-speedometer"></i> {{ engine.name }}</h5>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-info"><i class="bi bi-person-fill"></i> {{ engine.requirements.crew }}</li>
                <li class="list-group-item list-group-item-warning"><i class="bi bi-lightning-charge-fill"></i> {{ engine.requirements.power }}</li>
                <li class="list-group-item list-group-item-secondary"><i class="bi bi-shield-fill-check"></i> {{ engine.condition }}</li>
            </ul>
        </div>
        <small>{{ engine.symbol }}</small><br>
        <small><b>Speed</b> {{ engine.speed }}</small>
        <p class="mb-1">{{ engine.description }}</p>
    </div>
{%- endmacro %}
{% macro main_ship_details(ship) -%}
    <div class="list-group">
        {{ display_frame(ship.frame) }}
        {{ display_crew(ship.crew) }}
        {{ display_reactor(ship.reactor) }}
        {{ display_engine(ship.engine) }}
    </div>
{%- endmacro %}

{% macro ship_card(ship) -%}
    {# TODO: Fix manual margin #}
    <div class="card shadow" style="width: fit-content; margin: 17px 10px">
        <div class="card-body">
            <h5 class="card-title"><a href="/ship/{{ ship.symbol }}"><i class="bi bi-rocket-takeoff-fill"></i> {{ ship.symbol }}</a></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="bi bi-rocket"></i> {{ ship.registration.faction_symbol }} {{ ship.registration.role }}</li>
            {% if not ship.nav.moving %}
                <li class="list-group-item">{{ ship.nav.status.name }}</li>
                <li class="list-group-item"><a href="/waypoint/{{ ship.nav.location }}"><i class="bi bi-geo-alt-fill"></i> {{ ship.nav.location }}</a></li>
            {% else %}
                <li class="list-group-item">{{ ship.nav.status.name }}, <b>Arrival</b> {{ macros.time_display(ship.nav.route.arrival) }}</li>
                <li class="list-group-item">
                    {{ macros.waypoint_link(ship.nav.route.origin.symbol) }}
                    <i class="bi bi-arrow-right squiggle-icon"></i>
                    {{ macros.waypoint_link(ship.nav.route.destination.symbol) }}
                </li>
            {% endif %}
            <li class="list-group-item">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-info"><i class="bi bi-person-fill"></i> {{ ship.crew.current }}/{{ ship.crew.capacity }}</li>
                    <li class="list-group-item list-group-item-warning"><i class="bi bi-lightning-charge-fill"></i> {{ ship.reactor.power_output }}</li>
                    <li class="list-group-item list-group-item-success"><i class="bi bi-speedometer"></i> {{ ship.engine.speed }}</li>
                    <li class="list-group-item list-group-item-primary"><i class="bi bi-box-seam-fill"></i> {{ ship.cargo.current }}/{{ ship.cargo.capacity }}</li>
                </ul>
            </li>
            {% if ship.fuel.capacity != 0 %}
                {% if 100*(ship.fuel.current/ship.fuel.capacity) > 70 %}
                    {% set pb_color = "bg-success" %}
                {% elif 100*(ship.fuel.current/ship.fuel.capacity) > 40 %}
                    {% set pb_color = "bg-warning" %}
                {% else %}
                    {% set pb_color = "bg-danger" %}
                {% endif %}
                <li class="list-group-item">
                    <div class="progress" role="progressbar" aria-label="labeled fuel bar" aria-valuenow="{{ ship.fuel.current }}" aria-valuemin="0" aria-valuemax="{{ ship.fuel.capacity }}">
                        <div class="progress-bar {{ pb_color }} overflow-visible" style="width: {{ 100*(ship.fuel.current/ship.fuel.capacity) }}%">
                            <span><i class="bi bi-fuel-pump"></i> {{ ship.fuel.current }}/{{ ship.fuel.capacity }}</span>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="list-group-item">
                    No Fuel Tank
                </li>
            {% endif %}
        </ul>
    </div>
{%- endmacro %}
{% macro ship_list(ship) -%}
    <div class="list-group-item list-group-item-action">
        <a href="/ship/{{ ship.symbol }}" style="color: inherit; text-decoration: none;">
            <div class="row g-5 justify-content-between">
                <div class="col-md-auto"><h5><i class="bi bi-rocket-takeoff-fill"></i> {{ ship.symbol }}</h5></div>
                <div class="col-md-auto"><p>{{ ship.registration.role }}</p></div>
            </div>
            <div class="row g-5 gy-5 justify-content-between">
                <div class="col-md-auto">{{ ship.nav.status.value }}</div>
                {% if not ship.nav.moving %}
                    <div class="col-md-auto">{{ macros.waypoint_link(ship.nav.location) }}</div>
                {% else %}
                    <div class="col-md-auto">
                        {{ macros.waypoint_link(ship.nav.route.origin) }}
                        <i class="bi bi-arrow-right squiggle-icon"></i>
                        {{ macros.waypoint_link(ship.nav.route.destination) }}
                    </div>
                {% endif %}
                {% if ship.fuel.capacity != 0 %}
                    {% if 100*(ship.fuel.current/ship.fuel.capacity) > 70 %}
                        {% set pb_color = "bg-success" %}
                    {% elif 100*(ship.fuel.current/ship.fuel.capacity) > 40 %}
                        {% set pb_color = "bg-warning" %}
                    {% else %}
                        {% set pb_color = "bg-danger" %}
                    {% endif %}
                    <div class="col-md-auto">
                        <div class="progress" role="progressbar" aria-label="labeled fuel bar" aria-valuenow="{{ ship.fuel.current }}" aria-valuemin="0" aria-valuemax="{{ ship.fuel.capacity }}" style="min-width: 150px">
                            <div class="progress-bar {{ pb_color }} overflow-visible" style="width: {{ 100*(ship.fuel.current/ship.fuel.capacity) }}%">
                                <span><i class="bi bi-fuel-pump"></i> {{ ship.fuel.current }}/{{ ship.fuel.capacity }}</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-auto">
                        No Fuel Tank
                    </div>
                {% endif %}
                <div class="col-md-auto">
                    <div class="list-group list-group-horizontal">
                        <div class="list-group-item list-group-item-info"><i class="bi bi-person-fill"></i> {{ ship.crew.current }}</div>
                        <div class="list-group-item list-group-item-warning"><i class="bi bi-lightning-charge-fill"></i> {{ ship.reactor.power_output }}</div>
                        <div class="list-group-item list-group-item-success"><i class="bi bi-speedometer"></i> {{ ship.engine.speed }}</div>
                        <div class="list-group-item list-group-item-primary"><i class="bi bi-box-seam-fill"></i> {{ ship.cargo.current }}/{{ ship.cargo.capacity }}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{%- endmacro %}
{% macro ship_display(ship, waypoint_options, now) -%}
    <script>
        function timer(element, start, on_end, original) {
            if (start <= 0) {
                element.innerHTML = original
                on_end()
            } else {
                element.innerHTML = start
                setTimeout(function () {
                        timer(element, start - 1, on_end, original);
                    }, 1000
                )
            }
        }
    </script>
    <div class="container p-3">
        <div class="row justify-content-center text-center">
            <h1 class="col"><i class="bi bi-rocket-takeoff-fill"></i> {{ ship.symbol }}
                <button type="button" id="refresh" class="btn btn-secondary" onclick="refresh()"><i
                        class="bi bi-arrow-clockwise"></i></button>
            </h1>
        </div>
        <div class="row justify-content-center text-center">
            <p class="col"><i
                    class="bi bi-rocket"></i> {{ ship.registration.faction_symbol }} {{ ship.registration.role }}</p>
        </div>
        <div class="row g-3">
            <div class="col-6">
                {% if not ship.nav.moving %}
                    <div class="row py-3">
                        <p><b>Status</b> {{ ship.nav.status.name }}</p>
                    </div>
                    <div class="row py-3">
                        <p><b>Location</b>
                            {{ macros.waypoint_link(ship.nav.location) }}, a waypoint of
                            {{ macros.system_link(ship.nav.location.system) }}
                        </p>
                    </div>
                {% else %}
                    <div class="row py-3">
                        <p><b>Status</b> {{ ship.nav.status.name }} with flight mode {{ ship.nav.flight_mode.name }}</p>
                    </div>
                    <div class="row py-3">
                        <p><b>ETA</b> <span id="eta"></span> seconds</p>
                    </div>
                    <script>
                        timer(document.getElementById("eta"), {{ -(now - ship.nav.route.arrival).total_seconds() // 1 }}, refresh, "");
                    </script>
                    <div class="row py-3">
                        <p>{{ macros.waypoint_link(ship.nav.route.origin) }} <i class="bi bi-arrow-right squiggle-icon"></i> {{ macros.waypoint_link(ship.nav.route.destination) }}</p>
                    </div>
                {% endif %}
                {% if ship.cooldown != None and ship.cooldown.active %}
                    <div class="row py-3">
                        <p>Cooldown active for <span id="cooldown"></span> seconds.</p>
                        <script>
                            timer(document.getElementById("cooldown"), {{ -(now - ship.cooldown.expiration).total_seconds() // 1 }}, refresh, "");
                        </script>
                    </div>
                {% endif %}
                <div class="row py-3">
                    {% if ship.fuel.capacity != 0 %}
                        {% if 100*(ship.fuel.current/ship.fuel.capacity) > 70 %}
                            {% set pb_color = "bg-success" %}
                        {% elif 100*(ship.fuel.current/ship.fuel.capacity) > 40 %}
                            {% set pb_color = "bg-warning" %}
                        {% else %}
                            {% set pb_color = "bg-danger" %}
                        {% endif %}
                        <div style="max-width: 400px;">
                            <div class="progress" role="progressbar" aria-label="labeled fuel bar" aria-valuenow="{{ ship.fuel.current }}" aria-valuemin="0" aria-valuemax="{{ ship.fuel.capacity }}">
                                <div class="progress-bar {{ pb_color }} overflow-visible" style="width: {{ 100*(ship.fuel.current/ship.fuel.capacity) }}%">
                                    <span><i class="bi bi-fuel-pump"></i> {{ ship.fuel.current }}/{{ ship.fuel.capacity }}</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>No Fuel Tank</p>
                    {% endif %}
                </div>
                <div class="row py-3 px-2">
                    {{ main_ship_details(ship) }}
                </div>
                <div class="row py-3">
                    <div class="btn-toolbar py-3" role="toolbar">
                        <div class="btn-group me-2" role="group" aria-label="Ship Controls">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#navigateModal" {% if ship.nav.status != "IN_ORBIT" %}disabled{% endif %}><i class="bi bi-arrows-move"></i> Move</button>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Ship Controls">
                            <button type="button" class="btn btn-success" onclick="dock()" {% if ship.nav.status == "DOCKED" %}disabled{% endif %}><i class="bi bi-arrow-down-circle"></i> Dock</button>
                            <button type="button" class="btn btn-success" onclick="orbit()" {% if ship.nav.status == "IN_ORBIT" %}disabled{% endif %}><i class="bi bi-arrow-up-circle"></i> Orbit</button>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Ship Controls">
                            <button type="button" class="btn btn-primary" onclick="refuel()" {% if ship.nav.status != "DOCKED" %}disabled{% endif %}><i class="bi bi-fuel-pump"></i> Refuel</button>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Ship Controls">
                            <button type="button" class="btn btn-primary" onclick="extract()" {% if ship.nav.status != "IN_ORBIT" %}disabled{% endif %}><i class="bi bi-hammer"></i> Extract</button>
                            <button type="button" class="btn btn-primary" onclick="siphon()" {% if ship.nav.status != "IN_ORBIT" %}disabled{% endif %}><i class="bi bi-hammer"></i> Siphon</button>
                        </div>
                    </div>
                    <div class="btn-toolbar py-3" role="toolbar">
                        <div class="btn-group me-2" role="group" aria-label="Ship Controls">
                            <button type="button" class="btn btn-primary" onclick="chart()"><i class="bi bi-binoculars"></i> Chart</button>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Ship Controls">
                            <button type="button" class="btn btn-primary" onclick="chart()" disabled><i class="bi bi-rocket-takeoff"></i> Scan Ships</button>
                            <button type="button" class="btn btn-primary" onclick="chart()" disabled><i class="bi bi-stars"></i> Scan Waypoints</button>
                            <button type="button" class="btn btn-primary" onclick="chart()" disabled><i class="bi bi-geo-alt"></i> Scan Systems</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="list-group" id="cargo">
                    <div class='list-group-item list-group-item-primary'>
                        {{ ship.cargo.current }}/{{ ship.cargo.capacity }}
                    </div>
                    {% for c in ship.cargo.inventory %}
                        <div class='list-group-item list-group-item-primary'>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ c.symbol }}</h5>
                                <p class="mb-1 small">{{ c.quantity }} Units</p>
                            </div>
                            <p class="mb-1">{{ c.description }}</p>
                            <div class="input-group">
                                {# TODO: Switch to range #}
                                <input id="amount-{{ c.symbol }}" type="number" class="form-control"
                                       placeholder="Amount" value="1" min="0" max="{{ c.quantity }}"
                                       style="max-width: 75px">
                                <button type="button" class="btn btn-success"
                                        onclick="sell('{{ c.symbol }}', $('#amount-{{ c.symbol }}').val())"
                                        {% if ship.nav.status != "DOCKED" %}disabled{% endif %}><i
                                        class="bi bi-currency-dollar"></i> Sell
                                </button>
                                <button type="button" class="btn btn-secondary"
                                        onclick="transfer('{{ c.symbol }}', $('#amount-{{ c.symbol }}').val())"
                                        disabled><i class="bi bi-airplane-fill"></i> Transfer
                                </button>
                                <button type="button" class="btn btn-danger"
                                        onclick="jettison('{{ c.symbol }}', $('#amount-{{ c.symbol }}').val())"><i
                                        class="bi bi-trash3-fill"></i> Jettison
                                </button>
                                {% if "MOUNT_" in c.symbol %}
                                    <button type="button" class="btn btn-secondary"
                                        onclick="installMount('{{ c.symbol }}')"
                                        disabled><i class="bi bi-box-arrow-down"></i> Install Mount
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <form class="row g-3 py-3">
                        <div class="form-floating col-9">
                            <input class="form-control" id="buySymbol" placeholder="FUEL">
                            <label for="buySymbol">Symbol</label>
                        </div>
                        <div class="form-floating col-3">
                            <input type="number" class="form-control" id="buyAmount" min="0" max="{{ ship.cargo.capacity }}">
                            <label for="buyAmount">Amount</label>
                        </div>
                        <button type="button" class="btn btn-success col-2"
                                onclick="buy($('#buySymbol').val(), $('#buyAmount').val())" {% if ship.nav.status != "DOCKED" %}disabled{% endif %}><i class="bi bi-currency-dollar"></i> Buy
                        </button>
                        <button type="button" class="btn btn-primary col-3" disabled>
                            Refine
                        </button>
                    </form>
                </div>
            </div>
            {{ modules_and_mounts(ship.modules, ship.mounts) }}
        </div>
    </div>

    <div class="modal fade" id="navigateModal" tabindex="-1" aria-labelledby="NavigateModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="NavigateModal">Move {{ symbol }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row g-3">
                            <div class="col">
                                <label for="place" class="form-label">Waypoint</label>
                                <input type="text" class="form-control" list="waypoints" id="place">
                                <datalist id="waypoints">
                                    <option value="X1-"></option>
                                    {% for waypoint in waypoint_options %}
                                        <option label="{{ waypoint[1] }}" value="{{ waypoint[0] }}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="col">
                                <label for="navigation-mode" class="form-label">Navigation Mode</label>
                                <select class="form-select" aria-label="Navigation Mode" id="navigation-mode">
                                    <option value="CRUISE">Cruise</option>
                                    <option value="DRIFT">Drift</option>
                                    <option value="BURN">Burn</option>
                                    <option value="STEALTH">Stealth</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary float-left" data-bs-dismiss="modal">Cancel</button>
                    {# TODO: Add tooltips for disabled buttons with explanations #}
                    {# TODO: make jump/warp only allowed if the ship has the capability to do so #}
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jump()">Jump</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="warp()">Warp</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="navigate()">Navigate</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
