{% extends 'base.html' %}
{% import "ship/ship_templates.html" as display %}
{% block title %}
Ship - {{ ship.symbol }}
{% endblock %}
{% block body %}
    <div id="errors"></div>
    <script>
        async function refresh() {
            let data = await fetch("/ship/{{ ship.symbol }}/api");
            $("#ship-display").html(await data.text());
        }
    </script>
    <div id="ship-display">
        {{ display.ship_display(ship, waypoint_options, now) }}
    </div>
    <script defer>
        const alertPlaceholder = $("#errors");
        document.getElementById("navigation-mode").value = "{{ ship.nav.flight_mode.name }}";
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')

            alertPlaceholder.append(wrapper)
        }

        async function alertIfErr(resp) {
            let j = await resp.json();
            if (j.hasOwnProperty("error")) {
                appendAlert(j.error, "danger")
            }
        }

        function navigate() {
            fetch("/ship/{{ ship.symbol }}/navigate?place=" + document.getElementById("place").value + "&mode=" + $("#navigation-mode").val()).then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function jump() {
            fetch("/ship/{{ ship.symbol }}/jump?place=" + document.getElementById("place").value).then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function warp() {
            fetch("/ship/{{ ship.symbol }}/warp?place=" + document.getElementById("place").value).then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function extract() {
            fetch("/ship/{{ ship.symbol }}/extract").then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function dock() {
            fetch("/ship/{{ ship.symbol }}/dock").then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function orbit() {
            fetch("/ship/{{ ship.symbol }}/orbit").then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function refuel() {
            fetch("/ship/{{ ship.symbol }}/refuel").then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function jettison(symbol, quantity) { // TODO: Add quantity support
            fetch("/ship/{{ ship.symbol }}/jettison/" + symbol + "/" + quantity).then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function sell(symbol, quantity) {
            fetch("/ship/{{ ship.symbol }}/sell/" + symbol + "/" + quantity).then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }
    </script>
{% endblock %}
{% block navid %}ships{% endblock %}
