{% extends 'base.html' %}
{% block title %}
Ship - {{ ship.symbol }}
{% endblock %}
{% block body %}
    <div id="errors"></div>
    <h1 style="text-align: center"><span id="symbol">{{ ship.symbol }}</span></h1>
    <p class="left-margin">Status: <span id="status">{{ ship.nav.status }}</span></p>
    <p class="left-margin">Location:
        <a id="waypoint_link" href="/waypoint/{{ ship.nav.location }}"><span id="waypoint">{{ ship.nav.location }}</span></a>
        , a part of
        <a id="system_link" href="/system/{{ ship.nav.location.system }}"><span id="system">{{ ship.nav.location.system }}</span></a>
    </p>
    <ul class="list-group list-group-horizontal left-margin" style="margin-bottom: 10px;">
        <li class="list-group-item">{{ ship.crew.current }} <i class="bi bi-person-fill"></i></li>
        <li class="list-group-item">{{ ship.reactor.power_output }} <i class="bi bi-lightning-charge-fill"></i></li>
        <li class="list-group-item">{{ ship.engine.speed }} <i class="bi bi-speedometer"></i></li>
        <li class="list-group-item"><span id="current_cargo">{{ ship.cargo.current }}</span>/<span id="max_cargo">{{ ship.cargo.capacity }}</span>  <i class="bi bi-box-seam-fill"></i></li>
        <li class="list-group-item"><span id="fuel">{{ ship.fuel.current }}</span>/<span id="max_fuel">{{ ship.fuel.total }}</span> <i class="bi bi-fuel-pump"></i></li>
    </ul>
    <ul class="list-group left-margin" style="max-width: 400px;margin-bottom: 10px" id="cargo">
        {% for c in ship.cargo.inventory %}
            <li class='list-group-item'>
                {{ c }}: {{ ship.cargo.inventory[c] }}
            </li>
        {% endfor %}
    </ul>
    <div class="btn-group left-margin" role="group" aria-label="Ship Controls">
        <button type="button" class="btn btn-primary" onclick="extract()">Extract</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#navigateModal">Navigate</button>
        <button type="button" class="btn btn-primary" onclick="dock()">Dock</button>
        <button type="button" class="btn btn-primary" onclick="orbit()">Orbit</button>
        <button type="button" class="btn btn-primary" onclick="refuel()">Refuel</button>
    </div>
    <div class="modal fade" id="navigateModal" tabindex="-1" aria-labelledby="NavigateModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="NavigateModal">Navigate {{ symbol }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row g-3">
                            <div class="col">
                                <label for="place" class="form-label">Waypoint</label>
                                <input type="text" class="form-control" id="place">
                            </div>
                            <div class="col">
                                <label for="navigation-mode" class="form-label">Navigation Mode</label>
                                <select class="form-select" aria-label="Navigation Mode" id="navigation-mode">
                                    <option value="CRUISE">Cruise</option>
                                    <option value="DRIFT">Drift</option>
                                    <option value="BURN">Burn</option>
                                    <option value="STEALTH">Stealth</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="jump()">Jump</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="warp()">Warp</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="navigate()">Navigate</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row left-margin" style="margin-top: 50px">
        <div class="col">
            <h2 class="center">Modules</h2>
            <div class="list-group" style="max-width: 800px;margin-bottom: 10px" id="cargo">
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ ship.frame.name }}</h5>
                    </div>
                    <p class="mb-1">{{ ship.frame.description }}</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">{{ ship.frame.requirements.crew }} <i class="bi bi-person-fill"></i></li>
                        <li class="list-group-item">{{ ship.frame.requirements.power }} <i class="bi bi-lightning-charge-fill"></i></li>
                    </ul>
                </div>
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ ship.engine.name }}</h5>
                    </div>
                    <small>Speed: {{ ship.engine.speed }}</small>
                    <p class="mb-1">{{ ship.engine.description }}</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">{{ ship.engine.requirements.crew }} <i class="bi bi-person-fill"></i></li>
                        <li class="list-group-item">{{ ship.engine.requirements.power }} <i class="bi bi-lightning-charge-fill"></i></li>
                    </ul>
                </div>
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ ship.reactor.name }}</h5>
                    </div>
                    <p class="mb-1">{{ ship.reactor.description }}</p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">{{ ship.reactor.requirements.crew }} <i class="bi bi-person-fill"></i></li>
                        <li class="list-group-item">-{{ ship.reactor.power_output }} <i class="bi bi-lightning-charge-fill"></i></li>
                    </ul>
                </div>
                {% for module in ship.modules %}
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ module.name }}</h5>
                        </div>
                        <p class="mb-1">{{ module.description }}</p>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">{{ module.requirements.crew }} <i class="bi bi-person-fill"></i></li>
                            <li class="list-group-item">{{ module.requirements.power }} <i class="bi bi-lightning-charge-fill"></i></li>
                        </ul>
                    </div>
                {% endfor %}
            </div>

        </div>
        <div class="col">
            <h2 class="center">Mounts</h2>
            <div class="list-group" style="max-width: 800px;margin-bottom: 10px" id="cargo">
                {% for mount in ship.mounts %}
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ mount.name }}</h5>
                        </div>
                        <p class="mb-1">{{ mount.description }}</p>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">{{ mount.requirements.crew }} <i class="bi bi-person-fill"></i></li>
                            <li class="list-group-item">{{ mount.requirements.power }} <i class="bi bi-lightning-charge-fill"></i></li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        const alertPlaceholder = $("#errors");
        document.getElementById("navigation-mode").value = "{{ ship.nav.flight_mode }}";
        const appendAlert = (message, type) => {
          const wrapper = document.createElement('div')
          wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
          ].join('')

          alertPlaceholder.append(wrapper)
        }

        async function alertIfErr(resp) {
            let j = await resp.json();
            if (j.hasOwnProperty("error")) {
                appendAlert(j.error, "danger")
            }
        }

        function navigate() {
            fetch("/ship/{{ ship.symbol }}/navigate?place=" + document.getElementById("place").value + "&mode=" + $("#navigation-mode").val()).then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function jump() {
            fetch("/ship/{{ ship.symbol }}/jump?place=" + document.getElementById("place").value).then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function warp() {
            fetch("/ship/{{ ship.symbol }}/warp?place=" + document.getElementById("place").value).then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }
        function extract() {
            fetch("/ship/{{ ship.symbol }}/extract").then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function dock() {
            fetch("/ship/{{ ship.symbol }}/dock").then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function orbit() {
            fetch("/ship/{{ ship.symbol }}/orbit").then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        function refuel() {
            fetch("/ship/{{ ship.symbol }}/refuel").then(
                (resp) => {
                    alertIfErr(resp);
                }
            );
            setTimeout(function() {
                refresh();
            }, (500));
        }

        async function refresh() {
            let data = await fetch("/ship/{{ ship.symbol }}/api");
            let j = await data.json();
            console.log(j)
            $("#status").html(j.status);
            document.getElementById("waypoint").innerHTML = j.location;
            document.getElementById("waypoint_link").href = "/waypoint/" + j.location;
            document.getElementById("system").innerHTML = j.system;
            document.getElementById("system_link").href = "/system/" + j.system;
            $("#fuel").html(j.fuel);
            $("#max_fuel").html(j.max_fuel);
            $("#current_cargo").html(j.current_cargo);
            $("#max_cargo").html(j.max_cargo);
            let cargo = document.getElementById("cargo");
            let text = ""
            Object.entries(j.cargo).forEach(([key, value]) => {
                text += "<li class='list-group-item'>" + key + ": " + value + "</li>"
            })
            cargo.innerHTML = text;
        }
    </script>
{% endblock %}
{% block navid %}ships{% endblock %}
