{% extends 'base.html' %}
{% import "agent/agent_templates.html" as display %}
{% block title %}
Agents
{% endblock %}
{% block body %}
    <div class="container pt-3">
        <div class="list-group list-group-flush">
            {% for agent in agents.current() %}
                {{ display.agent_list(agent) }}
            {% endfor %}
        </div>
        <nav aria-label="Pagination">
            <ul class="pagination p-3">
                {% if agents.page > 1 %}
                    <li class="page-item"><a class="page-link" href="/agents/?page={{ agents.page-1 }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="/agents/#">Previous</a></li>
                {% endif %}
                {% for i in li %}
                    {% if i == agents.page %}
                        <li class="page-item"><a class="page-link active" href="/agents/?page={{ i }}">{{ i }}</a></li>
                    {% elif i == ".." %}
                        <li class="page-item disabled"><a class="page-link" href="/agents/?page={{ i }}">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/agents/?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if agents.page < agents.pages %}
                    <li class="page-item"><a class="page-link" href="/agents/?page={{ agents.page+1 }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="/agents/#">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
{% block navid %}agents{% endblock %}
