{% import "macros.html" as macros %}

{% macro agent_list(agent) -%}
    <a class="list-group-item gx-5 list-group-item-action" href="/agent/{{ agent.symbol }}">
        <div class="row gx-5 justify-content-between">
            <div class="col-md-auto">
                <h5><i class="bi bi-person-fill"></i> Agent {{ agent.symbol }}</h5>
            </div>
            <div class="col-md-auto"><p>{{ agent.starting_faction }}</p></div>
        </div>
        <div class="row gx-5 justify-content-between">
            <div class="col-md-auto"><i class="bi bi-credit-card"></i> {{ agent.credits }}</div>
            <div class="col-md-auto"><i class="bi bi-rocket-takeoff-fill"></i> {{ agent.ship_count }}</div>
        </div>
    </a>
{%- endmacro %}
{% macro agent_display(agent) -%}
    <div class="container p-3">
        <div class="row justify-content-center text-center">
            <h1 class="col"><i class="bi bi-person-fill"></i> {{ agent.symbol }}</h1>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col"><i class="bi bi-credit-card"></i> {{ agent.credits }}</div>
        </div>
        <div class="row gx-5 gy-3">
            <div class="col-12">
                <p>Headquarters: <a href="/waypoint/{{ agent.headquarters }}"><i class="bi bi-geo-alt-fill"></i> {{ agent.headquarters }}</a></p>
            </div>
            <div class="col-12">
                <p>Faction: <a href="/faction/{{ agent.starting_faction }}"><i class="bi bi-building"></i> {{ agent.starting_faction }}</a></p>
            </div>
            <div class="col-12">
                <p>Ship Count: <i class="bi bi-rocket-takeoff-fill"></i> {{ agent.ship_count }}</p>
            </div>
        </div>
    </div>
{%- endmacro %}
