{% extends 'base.html' %}
{% block title %}
Systems
{% endblock %}
{% block body %}
     <li class="list-group list-group-flush left-margin">
        {% for system in systems.current() %}
            <div class="list-group-item gx-5 list-group-item-action" onclick="window.location.href = '/system/{{ system.symbol }}'">
                <div class="row gx-5 justify-content-between">
                    <div class="col-md-auto">
                        <h5><i class="bi bi-stars"></i> {{ system.__class__.__name__ }} {{ system.symbol }}</h5>
                    </div>
                    <div class="col-md-auto"><p>{{ system.star_type }}</p></div>
                </div>
                <div class="row gx-5 justify-content-between">
                    <div class="col-md-auto">{{ system.waypoints.__len__() }} waypoints</div>
                    <div class="col-md-auto">({{ system.x }}, {{ system.y }})</div>
                </div>
            </div>
        {% endfor %}
    </li>
    <nav aria-label="Pagination">
        <ul class="pagination left-margin">
            {% if systems.page > 1 %}
                <li class="page-item"><a class="page-link" href="/systems/?page={{ systems.page-1 }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="/systems/#">Previous</a></li>
            {% endif %}
            {% for i in li %}
                {% if i == systems.page %}
                    <li class="page-item"><a class="page-link active" href="/systems/?page={{ i }}">{{ i }}</a></li>
                {% elif i == ".." %}
                    <li class="page-item disabled"><a class="page-link" href="/systems/?page={{ i }}">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/systems/?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if systems.page < systems.pages %}
                <li class="page-item"><a class="page-link" href="/systems/?page={{ systems.page+1 }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="/systems/#">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
{% block navid %}systems{% endblock %}
