{% extends 'base.html' %}
{% block title %}
System - {{ system.symbol }}
{% endblock %}
{% block body %}
    <h1 class="center">{{ system.symbol }}</h1>
    {% if system.factions.__len__() > 0 %}
    <p class="left-margin">Coordinates: ({{ system.x }}, {{ system.y }})</p>
    <p>Factions: {% for faction in system.factions %}{{ faction["symbol"] }} {% endfor %}</p>
    {% endif %}
    <h2 class="center">Waypoints</h2>
    <div class="list-group list-group-flush left-margin" style="max-width: 70%;">
            {% for item in waypoints %}
                <div class="list-group-item list-group-item-action" onclick="window.location.href = '/waypoint/{{ item.symbol }}'">
                    <div class="row gx-5 justify-content-between">
                        <div class="col-md-auto">
                            <h5><i class="bi bi-stars"></i> Waypoint {{ item.symbol }}</h5>
                        </div>
                        <div class="col-md-auto"><p>{{ item.waypoint_type }}</p></div>
                    </div>
                    <div class="row gx-5 justify-content-between">
                        <div class="col-md-auto">{{ item.orbitals.__len__() }} orbitals</div>
                        <div class="col-md-auto">({{ item.x }}, {{ item.y }})</div>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}
{% block navid %}systems{% endblock %}
