{% import 'ship/ship_templates.html' as ship_templates %}
{% macro waypoint_list(waypoint) -%}
    <a class="list-group-item list-group-item-action" href = "/waypoint/{{ waypoint.symbol }}">
        <div class="row gx-5 justify-content-between">
            <div class="col-md-auto">
                <h5><i class="bi bi-geo-alt-fill"></i> Waypoint {{ waypoint.symbol }}</h5>
            </div>
            <div class="col-md-auto"><p>{{ waypoint.waypoint_type }}</p></div>
        </div>
        <div class="row gx-5 justify-content-between">
            <div class="col-md-auto">{{ waypoint.orbitals.__len__() }} orbitals</div>
            {% if waypoint.traits != None %}
            <div class="col-md-auto">{% for trait in waypoint.traits %}{{ trait.name }} {% endfor %}</div>
        {% endif %}
            <div class="col-md-auto">({{ waypoint.x }}, {{ waypoint.y }})</div>
        </div>
    </a>
{%- endmacro %}
{% macro waypoint_display(waypoint, marketplace, shipyard) -%}
    <div class="container py-3">
        <div class="row justify-content-center text-center">
            <h1 class="col"><i class="bi bi-geo-alt-fill"></i> {{ waypoint.symbol }}</h1>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col"><p>{{ waypoint.waypoint_type }} of <a href="/system/{{ waypoint.symbol.system }}"><i class="bi bi-stars"></i> {{ waypoint.symbol.system }}</a></p></div>
        </div>
        <div class="row gx-5 gy-3">
            <div class="col-12">
                <p>Coordinates: ({{ waypoint.x }}, {{ waypoint.y }})</p>
            </div>
            <div class="col-12">
                <p>Faction: {{ waypoint.faction }}</p>
            </div>
            <div class="col-12">
                {% if waypoint.traits.__len__() > 0 %}
                    <div class="list-group" id="traits">
                        {% for trait in waypoint.traits %}
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ trait.name }}</h5>
                                </div>
                                <p class="mb-1">{{ trait.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No Traits</p>
                {% endif %}
            </div>
            {% if waypoint.marketplace %}
                {% if marketplace.imports != [] and marketplace.imports != None  %}
                <div class="col">
                    <h3>Imports</h3>
                    <ul class="list-group">
                        {% for good in marketplace.imports %}
                            <li class="list-group-item">{{ good }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if marketplace.exports != [] and marketplace.exports != None %}
                <div class="col-4">
                    <h3>Exports</h3>
                    <ul class="list-group">
                        {% for good in marketplace.exports %}
                            <li class="list-group-item">{{ good }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if marketplace.trade_goods != [] and marketplace.trade_goods != None %}
                <div class="col-4">
                    <h3>Trades</h3>
                    <table class="table">
                            <tr>
                                <th>Symbol</th>
                                <th>Buy Price</th>
                                <th>Sell Price</th>
                                <th>Quantity</th>
                                <th>Volume</th>
                            </tr>
                            {% for good in marketplace.trade_goods %}
                                <tr>
                                    <td>{{ good.symbol }}</td>
                                    <td>{{ good.purchase_price }}</td>
                                    <td>{{ good.sell_price }}</td>
                                    <td>{{ good.supply }}</td>
                                    <td>{{ good.trade_volume }}</td>
                                </tr>
                            {% endfor %}
                    </table>
                </div>
                {% endif %}
            {% endif %}
            {% if waypoint.shipyard %}
                {% if shipyard.ships != None and shipyard.ships != [] %}
                    <div class="col-6">
                        <h2 class="center">Shipyard</h2>
                        <div>
                            {% for ship in shipyard.ships %}
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item" style="min-width: 250px">{{ ship.ship_type }}</li>
                                    <li class="list-group-item" style="min-width: 125px"><i class="bi bi-credit-card"></i> {{ ship.purchase_price }}</li>
                                    <li class="list-group-item" style="min-width: 100px"><i class="bi bi-fuel-pump"></i> {{ ship.frame.fuel_capacity }}</li>
                                    <li class="list-group-item list-group-item-warning" style="min-width: 80px"><i class="bi bi-lightning-charge-fill"></i> {{ ship.reactor.power_output }}</li>
                                    <li class="list-group-item list-group-item-success" style="min-width: 80px"><i class="bi bi-speedometer"></i> {{ ship.engine.speed }}</li>
                                    <li class="list-group-item" style="min-width: 75px"><button class="btn btn-primary btn-sm" onclick="buy('{{ ship.ship_type }}')">Buy</button></li>
                                    <li class="list-group-item" style="min-width: 75px"><button class="btn btn-info btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#{{ ship.ship_type }}Modal">Info</button></li>
                                </ul>
                            {% endfor %}
                        </div>
                        {% for ship in shipyard.ships %}
                            <div class="modal fade" id="{{ ship.ship_type }}Modal" tabindex="-1" aria-labelledby="{{ ship.ship_type }}ModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="{{ ship.ship_type }}ModalLabel">{{ ship.ship_type }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                {{ ship_templates.modules_and_mounts(ship.modules, ship.mounts) }}
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-6">
                        <h2 class="center">Shipyard</h2>
                        <ul class="list-group">
                            {% for ship in shipyard.ship_types %}
                                <li class="list-group-item">{{ ship }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <script>
                    function buy(ship) {
                        fetch("/waypoint/{{ waypoint.symbol }}/buy-ship/?ship="+ship)
                    }
                </script>
            {% endif %}
        </div>
    </div>
{%- endmacro %}
