{% extends 'base.html' %}
{% block title %}
Add Token
{% endblock %}
{% block body %}
    <div class="container p-3">
        <div class="row justify-content-center text-center">
            <h1>Add Token</h1>
        </div>
        <div class="row m-3 justify-content-center">
            <div class="card text-bg-info m-3" style="width: 18rem;">
                <a href="/create-token/" style="color: inherit; text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title">No Token</h5>
                        <p class="card-text">If you haven't already created an agent and would like to create one.</p>
                    </div>
                </a>
            </div>
            <div class="card text-bg-info m-3" style="width: 18rem;">
                <a href="/add-existing-token/" style="color: inherit; text-decoration: none;">
                    <div class="card-body">
                        <h5 class="card-title">Token</h5>
                        <p class="card-text">If you already have an agent and would like to use it.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row justify-content-center text-center m-3">
            <div class="m-3">
                <small>You can always view the current token at the settings page.</small>
            </div>
            <div class="m-3">
                <a class="btn btn-secondary" target="_blank" href="https://docs.spacetraders.io/game-concepts/agents-and-factions">Spacetraders Agent Docs</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block navid %}select-token{% endblock %}
