{% extends 'base.html' %}
{% block title %}
Create Token
{% endblock %}
{% block body %}
    <div class="row justify-content-center text-center">
        <h1>Create Token</h1>
    </div>
    <form class="form p-3">
        <label class="label" for="symbol">Symbol:</label>
        <input id="symbol" required>
        <label class="label" for="faction">Faction:</label>
        <input id="faction" required>
        <label class="label" for="email">Email (optional):</label>
        <input id="email" type="email">
        <button class="btn btn-primary" type="button" onclick="create()">Create</button>
    </form>
    <p class="p-3">This automatically saves the token to the sqlite database,
        it can be always accessed from
        <a href="/settings">the settings page</a>.</p>
    <script>
        function create() {
            fetch("/create-user-no-token-api?symbol=" + $("#symbol").val() + "&faction=" + $("#faction").val() + "&email=" + $("#email").val()).then(
                (_) => {
                    document.location.href = "/";
                }
            )
        }
    </script>
{% endblock %}
{% block navid %}select-user{% endblock %}