{% extends 'base.html' %}
{% block title %}
Create Token
{% endblock %}
{% block body %}
    <div class="alert alert-warning" role="alert">
        If you already have a user, submitting data here will wipe the db.
    </div>
    <h1 class="center">Create Token</h1>
    <form class="form p-3">
        <label class="label" for="symbol">Symbol:</label>
        <input id="symbol" required>
        <label class="label" for="faction">Faction:</label>
        <input id="faction" required>
        <label class="label" for="email">Email:</label>
        <input id="email" type="email">
        <button class="btn btn-primary" type="button" onclick="create()">Create</button>
    </form>
    <p class="p-3">Note that this automatically saves the token,
        it can be always accessed from
        <a href="/settings">the settings page</a>.</p>
    <script>
        function create() {
            fetch("/create-token-api?symbol=" + $("#symbol").val() + "&faction=" + $("#faction").val() + "&email=" + $("#email").val()).then(
                (_) => {
                    document.location.href = "/";
                }
            )
        }
    </script>
{% endblock %}
{% block navid %}home{% endblock %}