{% extends 'base.html' %}
{% block title %}
Select User
{% endblock %}
{% block body %}
    <h1 class="center">Select User</h1>
    <div class="container">
        <div class="list-group">
            {% for user in users %}
                <div onclick="setUser({{ user.id }})" class="list-group-item list-group-item-action {% if user.active %}active{% endif %}">
                    {% if user.__class__.__name__ == "Agent" %}
                        <p class="text-truncate"><i class="bi bi-person-fill"></i> {{ user.symbol }} - <i class="bi bi-credit-card"></i> {{ user.credits }} - {{ user.session.auth.token }}</p>
                    {% else %}
                        <p class="text-truncate">{{ user }}</p>
                    {% endif %}
                    <button class="btn btn-danger" onclick="deleteUser({{ user.id }})">Delete</button>
                </div>
            {% endfor %}
        </div>
        <a class="p-3" href="/create-user">Create User</a>
    </div>
    <script>
        function setUser(user_id) {
            fetch("/select-user-api/" + user_id).then(
                (_) => {
                    document.location.href = "/";
                }
            )
        }
        function deleteUser(user_id) {
            fetch("/delete-user-api/" + user_id).then(
                (_) => {
                    document.location.href = "/";
                }
            )
        }
    </script>
{% endblock %}
{% block navid %}select-user{% endblock %}