{% extends 'base.html' %}
{% block title %}
Select User
{% endblock %}
{% block body %}
    <div class="container p-3">
        <div class="row justify-content-center text-center">
            <h1>Select User</h1>
        </div>
        <div class="list-group">
            {% for user in users %}
                <div id="{{ user.id }}" class="list-group-item {% if user.active %}active{% endif %}">
                    {% if user.__class__.__name__ == "Agent" %}
                        <p class="text-truncate">
                            <i class="bi bi-person-fill"></i> {{ user.symbol }} - <i class="bi bi-credit-card"></i> {{ user.credits }} - {{ user.session.auth.token }}
                        </p>
                    {% else %}
                        <p class="text-truncate">{{ user.token }}</p>
                        <small class="p-1"><i class="bi bi-exclamation-triangle-fill"></i> Unable to get user info, the token is likely invalid.</small><br>
                    {% endif %}
                    <div class="btn-group" role="group" aria-label="Actions">
                        {% if not user.active %}
                            <button class="btn btn-success" onclick="setUser('{{ user.id }}')">Make Active</button>
                        {% endif %}
                        <button class="btn btn-danger" onclick="deleteUser('{{ user.id }}')">Delete</button>
                    </div>
                </div>
            {% endfor %}
            {% if users.__len__() == 0 %}
                <p>No users saved, you should create one ...</p>
            {% endif %}
        </div>
        <a class="btn btn-primary m-3" role="button" href="/create-user"><i class="bi bi-person-plus-fill"></i> Create User</a>
        <button type="button" class="btn btn-secondary m-3" data-bs-toggle="modal" data-bs-target="#helpModal"><i class="bi bi-question-circle"></i> Help</button>

        <!-- Modal -->
        <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="helpModalTitle">Help</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        This page allows you to select a user to use. The rest of the website depends on the "Active User".
                        To make a user active, click the "Make Active" button on the user you want to use, the highlighted user is the current active user.
                        If you have been redirected to this page, then either
                        <ol>
                            <li>There is no active user (in which case create an user or make one active)</li>
                            <li>The current user is invalid, delete it and create a new one.</li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        function setUser(user_id) {
            fetch("/select-user-api/" + user_id).then(
                (_) => {
                    document.location.href = "/";
                }
            )
        }

        function deleteUser(user_id) {
            fetch("/delete-user-api/" + user_id).then(
                (_) => {
                    document.location.href = "/";
                }
            )
        }
    </script>
{% endblock %}
{% block navid %}select-user{% endblock %}