{% extends 'base.html' %}
{% block title %}
Contract - {{ contract.contract_id }}
{% endblock %}
{% block body %}
    <div id="errors"></div>
    <h1 class="center">{{ contract.contract_id }}</h1>
    <p class="center">Complete By: <span id="deadline"></span></p>
    <p class="left-margin">Accepted: <i class="bi bi-credit-card"></i> <span id="on_accepted">{{ contract.on_accepted }}</span></p>
    <p class="left-margin">Fulfilled: <i class="bi bi-credit-card"></i> <span id="on_fulfilled">{{ contract.on_fulfilled }}</span></p>
    {% if not contract.accepted %}
        <p class="left-margin">Accept By: {{ contract.accept_deadline }}</p>
    {% endif %}
    <h2 class="center">Details</h2>
    {% if contract.contract_type == "PROCUREMENT" %}
        {% for delivery in contract.contract_data %}
            <p class="left-margin">Deliver {{ delivery.trade_symbol }} to <a href="/waypoint/{{ delivery.destination_symbol }}">{{ delivery.destination_symbol }}</a>
                ({{ delivery.units_fulfilled }}/{{ delivery.units_required }}).</p>
        {% endfor %}
    {% endif %}
    <br>
    <button onclick="accept()" class="btn btn-primary" {% if contract.accepted %}disabled{% endif %}>Accept</button>
    <button onclick="fulfill()" class="btn btn-primary" {% if contract.fulfilled %}disabled{% endif %}>Fulfill</button>
    <script>
    refresh();
    const alertPlaceholder = $("#errors");
    const appendAlert = (message, type) => {
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')

      alertPlaceholder.append(wrapper)
    }

    async function alertIfErr(resp) {
        let j = await resp.json();
        if (j.hasOwnProperty("error")) {
            appendAlert(j.error, "danger")
        }
    }

    function accept() {
        fetch("/contract/{{ contract.contract_id }}/accept").then(
            (resp) => {
                alertIfErr(resp);
            }
        );
        setTimeout(function() {
            refresh();
        }, (500));
    }

    function fulfill() {
        fetch("/contract/{{ contract.contract_id }}/fulfill").then(
            (resp) => {
                alertIfErr(resp);
            }
        );
        setTimeout(function() {
            refresh();
        }, (500));
    }

    async function refresh() {
        let data = await fetch("/contract/{{ contract.contract_id }}/api");
        let j = await data.json();
        console.log(j)
        document.getElementById("deadline").innerHTML = j.deadline;
    }
    </script>
{% endblock %}
{% block navid %}contracts{% endblock %}