{% import "macros.html" as macros %}

{% macro contract_card(contract) %}
    <div class="card shadow" style="width: 23rem; margin: 17px 10px">
        <div class="card-body">
            <h5 class="card-title"><a href="/contract/{{ contract.contract_id }}"><i class="bi bi-file-earmark-text-fill"></i> {{ contract.contract_id }}</a></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Accept By: <i class="bi bi-clock"></i> {{ macros.time_display(contract.accept_deadline) }}</li>
            <li class="list-group-item">Deadline: <i class="bi bi-clock"></i> {{ macros.time_display(contract.deadline) }}</li>
            <li class="list-group-item">If Accepted: <i class="bi bi-credit-card"></i> {{ contract.on_accepted }}</li>
            <li class="list-group-item">If Fulfilled: <i class="bi bi-credit-card"></i> {{ contract.on_fulfilled }}</li>
            <li class="list-group-item">Status: {% if contract.fulfilled %}Fulfilled{% elif contract.accepted %}Accepted{% else %}Not Accepted{% endif %}</li>
        </ul>
    </div>
{%- endmacro %}
{% macro contract_list(contract) -%}
    <a class="list-group-item gx-5 list-group-item-action" href="/contract/{{ contract.contract_id }}">
        <div class="row gx-5 justify-content-between">
            <div class="col-md-auto">
                <h5><i class="bi bi-file-earmark-text-fill"></i> Contract {{ contract.contract_id }}</h5>
            </div>
            <div class="col-md-auto"><p>{{ contract.contract_type }}</p></div>
        </div>
        <div class="row gx-5 justify-content-between">
            <div class="col-md-auto">Accepted: {{ contract.on_accepted }} {% if contract.accepted %}(Claimed){% endif %}</div>
            <div class="col-md-auto">Fulfilled: {{ contract.on_fulfilled }} {% if contract.fulfilled %}(Claimed){% endif %}</div>
        </div>
    </a>
{%- endmacro %}
{% macro contract_display(contract) -%}
    <div class="container py-3">
        <div class="row justify-content-center text-center">
            <h1 class="col"><i class="bi bi-file-earmark-text-fill"></i> {{ contract.contract_id }}</h1>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col"><p>Complete By: <span id="deadline"></span></p></div>
        </div>
        <div class="row gx-5 gy-3">
            <div class="col-12">
                <p>Accepted: <i class="bi bi-credit-card"></i> <span id="on_accepted">{{ contract.on_accepted }}</span></p>
            </div>
            <div class="col-12">
                <p>Fulfilled: <i class="bi bi-credit-card"></i> <span id="on_fulfilled">{{ contract.on_fulfilled }}</span></p>
            </div>
        </div>
    </div>
{#    TODO: Finish porting #}
    {% if not contract.accepted %}
        <p class="left-margin">Accept By: {{ contract.accept_deadline }}</p>
    {% endif %}
    <h2 class="center">Details</h2>
    {% if contract.contract_type == "PROCUREMENT" %}
        {% for delivery in contract.contract_data %}
            <p class="left-margin">Deliver {{ delivery.trade_symbol }} to <a href="/waypoint/{{ delivery.destination_symbol }}">{{ delivery.destination_symbol }}</a>
                ({{ delivery.units_fulfilled }}/{{ delivery.units_required }}).</p>
        {% endfor %}
    {% endif %}
    <br>
    <button onclick="accept()" class="btn btn-primary" {% if contract.accepted %}disabled{% endif %}>Accept</button>
    <button onclick="fulfill()" class="btn btn-primary" {% if contract.fulfilled %}disabled{% endif %}>Fulfill</button>
{%- endmacro %}
