{% macro faction_list(faction) -%}
    <div class="list-group-item list-group-item-action" onclick="window.location.href = '/faction/{{ faction.symbol }}'">
        <div class="row justify-content-between">
            <div class="col-md-auto"><h5 class="mb-1"><i class="bi bi-building-fill"></i> {{ faction.name }}</h5></div>
            <div class="col-md-auto"><p>{{ faction.symbol }}</p></div>
        </div>
        <div class="row gx-5 justify-content-between">
            <div class="col-md-auto">{{ faction.description }}</div>
            <div class="col-md-auto"><a href="/waypoint/{{ faction.headquarters }}"><i class="bi bi-geo-alt-fill"></i> {{ faction.headquarters }}</a></div>
        </div>
    </div>
{%- endmacro %}
{% macro faction_display(faction) -%}
    <h1 class="center">{{ faction.name }} <span class="badge bg-warning">WIP</span></h1>
    <p class="center">{{ faction.symbol }}</p>
    <p class="left-margin"><a href="/waypoint/{{ faction.headquarters }}"><i class="bi bi-geo-alt-fill"></i> {{ faction.headquarters }}</a></p>
    <p class="left-margin">Recruiting: {{ faction.is_recruiting }}<p>
    <p class="left-margin">{{ faction.description }}</p>
    <div class="list-group left-margin" style="max-width: 400px;margin-bottom: 10px">
        {% for trait in faction.traits %}
            <div class="list-group-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ trait.name }}</h5>
                </div>
                <p class="mb-1">{{ trait.description }}</p>
            </div>
        {% endfor %}
    </div>
{%- endmacro %}
