{% extends 'base.html' %}
{% import "ship/ship_templates.html" as ship %}
{% import "faction/contract/contract_templates.html" as contract %}
{% block title %}
Home
{% endblock %}
{% block body %}
    <h1 class="center"><i class="bi bi-person-fill"></i> {{ agent.symbol }}</h1>
    <p class="center"><i class="bi bi-credit-card"></i> {{ agent.credits }}</p>
    <p class="center"><a href="/faction/{{ agent.starting_faction }}"><i class="bi bi-building"></i> {{ agent.starting_faction }}</a> <a href="/waypoint/{{ agent.headquarters }}"><i class="bi bi-geo-alt-fill"></i> {{ agent.headquarters }}</a></p>
    <h2 class="center">Ships</h2>
    <div class="row" style="margin-left: 25px">
    {% for item in agent.ships[1] %}
        {{ ship.ship_card(item) }}
    {% endfor %}
    </div>
    <h2 class="center">Contracts</h2>
    <div class="row" style="margin-left: 25px">
    {% for item in agent.contracts[1] %}
        {{ contract.contract_card(item) }}
    {% endfor %}
    </div>
{% endblock %}
{% block navid %}home{% endblock %}