{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block body %}
    <h1 class="center">{{ agent.symbol }}</h1>
    <p class="center">{{ agent.credits }} <i class="bi bi-credit-card"></i></p>
    <p class="center">{{ agent.headquarters }} <i class="bi bi-credit-card"></i></p>
    <h2 class="center">Ships</h2>
    <div class="row" style="margin-left: 25px">
    {% for ship in agent.ships[1] %}
        <div class="card" style="width: 23rem; margin: 17px 10px">
            <div class="card-body">
                <h5 class="card-title"><a href="/ship/{{ ship.symbol }}">{{ ship.symbol }}</a></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ ship.frame.name }} <i class="bi bi-rocket"></i></li>
                {% if not ship.nav.moving %}
                    <li class="list-group-item">{{ ship.nav.status }}</li>
                {% else %}
                    <li class="list-group-item">{{ ship.nav.status }}<br>Arrival: {{ ship.nav.route.arrival.strftime('%Y-%m-%d %I:%M:%S %p') }} UTC</li>
                {% endif %}
                <li class="list-group-item"><a href="/waypoint/{{ ship.nav.location }}">{{ ship.nav.location }} <i class="bi bi-geo-alt-fill"></i></a></li>
                <li class="list-group-item">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">{{ ship.crew.current }} <i class="bi bi-person-fill"></i></li>
                        <li class="list-group-item">{{ ship.reactor.power_output }} <i class="bi bi-lightning-charge-fill"></i></li>
                        <li class="list-group-item">{{ ship.engine.speed }} <i class="bi bi-speedometer"></i></li>
                        <li class="list-group-item">{{ ship.cargo.current }}/{{ ship.cargo.capacity }}  <i class="bi bi-box-seam-fill"></i></li>
                    </ul>
                </li>
                {% if ship.fuel.total != 0 %}
                    {% if 100*(ship.fuel.current/ship.fuel.total) > 70 %}
                        {% set pb_color = "bg-success" %}
                    {% elif 100*(ship.fuel.current/ship.fuel.total) > 40 %}
                        {% set pb_color = "bg-warning" %}
                    {% else %}
                        {% set pb_color = "bg-danger" %}
                    {% endif %}
                    <li class="list-group-item">
                        <div class="progress" role="progressbar" aria-label="labeled fuel bar" aria-valuenow="{{ ship.fuel.current }}" aria-valuemin="0" aria-valuemax="{{ ship.fuel.total }}">
                            <div class="progress-bar {{ pb_color }} overflow-visible" style="width: {{ 100*(ship.fuel.current/ship.fuel.total) }}%">
                                <span>{{ ship.fuel.current }}/{{ ship.fuel.total }} <i class="bi bi-fuel-pump"></i></span>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        No Fuel
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endfor %}
    </div>
    <h2 class="center">Contracts</h2>
    <div class="row" style="margin-left: 25px">
    {% for contract in agent.contracts[1] %}
        <div class="card" style="width: 23rem; margin: 17px 10px">
            <div class="card-body">
                <h5 class="card-title"><a href="/contract/{{ contract.contract_id }}">{{ contract.contract_id }}</a></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Accept By: {{ contract.accept_deadline.strftime('%Y-%m-%d %I:%M:%S %p') }} <i class="bi bi-clock"></i></li>
                <li class="list-group-item">Deadline: {{ contract.deadline.strftime('%Y-%m-%d %I:%M:%S %p') }} <i class="bi bi-clock"></i></li>
                <li class="list-group-item">If Accepted: {{ contract.on_accepted }} <i class="bi bi-credit-card"></i></li>
                <li class="list-group-item">If Fulfilled: {{ contract.on_fulfilled }} <i class="bi bi-credit-card"></i></li>
                <li class="list-group-item">Status: {% if contract.fulfilled %}Fulfilled{% elif contract.accepted %}Accepted{% else %}Not Accepted{% endif %}</li>
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block navid %}home{% endblock %}