<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="home" class="nav-link" href="{{ url_for('main.index') }}"><i class="bi bi-house-fill"></i> Home</a>
            </li>
            <li class="nav-item">
                <a id="contracts" class="nav-link" href="{{ url_for('faction.contracts') }}"><i class="bi bi-file-earmark-text-fill"></i> Contracts</a>
            </li>
            <li class="nav-item">
                <a id="ships" class="nav-link" href="/ships/"><i class="bi bi-rocket-takeoff-fill"></i> Ships</a>
            </li>
            <li class="nav-item">
                <a id="systems" class="nav-link" href="/systems/"><i class="bi bi-stars"></i> Systems</a>
            </li>
            <li class="nav-item">
                <a id="factions" class="nav-link" href="{{ url_for('faction.factions') }}"><i class="bi bi-building-fill"></i> Factions</a>
            </li>
            <li class="nav-item">
                <a id="agents" class="nav-link" href="/agents/"><i class="bi bi-person-fill"></i> Agents</a>
            </li>
            <li class="nav-item">
                <a id="map" class="nav-link" href="/map-v4/"><i class="bi bi-map-fill"></i> Map</a>
            </li>
            <li class="nav-item">
                <a id="leaderboard" class="nav-link" href="/leaderboard/"><i class="bi bi-boxes"></i> Leaderboard</a>
            </li>
            <li class="nav-item">
                <a id="automations" class="nav-link" href="/automations/"><i class="bi bi-filetype-yml"></i> Automations</a>
            </li>
        </ul>
        <ul class="navbar-nav d-flex">
            <li class="d-flex nav-item" style="float: right">
                <form role="search" class="d-flex">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" id="search-box" aria-label="Search" value="">
                        <button class="btn btn-success" onclick="search()" id="searchbutton" type="button"><i class="bi bi-search"></i></button>
                    </div>
                </form>
                <div class="dropdown-menu d-block pt-0 mt-5 shadow w-280px" id="suggestions">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <button class="dropdown-item d-flex align-items-center gap-2 py-2" onclick="search_filter('ship')">
                                Ships
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center gap-2 py-2"
                                    onclick="search_filter('system')">
                                Systems
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item d-flex align-items-center gap-2 py-2"
                                    onclick="search_filter('map')">
                                Map Items
                            </button>
                        </li>
                    </ul>
                </div>
                <a id="select-user" class="nav-link" href="/select-user/"><i class="bi bi-person-lines-fill"></i> Select Token</a>
                <a id="login" class="nav-link"></a>
                <a id="register" class="nav-link"></a>
                <a id="settings" class="nav-link" href="/settings/"><i class="bi bi-gear-fill"></i> Settings</a>
            </li>
        </ul>
    </div>
</nav>
<script>
    document.getElementById("suggestions").classList.add("visually-hidden");
    $("#search-box").keypress(function (event) {
        if (event.keyCode === 13 || event.which === 13) {
            search();
            event.preventDefault();
        }
    });
    $('#search-box').keyup(function(event) {
        if ($("#search-box").val().length === 0) {
            document.getElementById("suggestions").classList.add("visually-hidden");
        }
        else {
            document.getElementById("suggestions").classList.remove("visually-hidden");
        }
    });
    function search() {
        this.window.location.href = "/search?query=" + encodeURIComponent($("#search-box").val());
    }

    function search_filter(filter) {
        this.window.location.href = "/search?query=" + encodeURIComponent($("#search-box").val() + " is: " + filter);
    }
</script>