{% extends 'base.html' %}
{% import "faction/faction_templates.html" as faction %}
{% import "ship/ship_templates.html" as ship %}
{% import "faction/contract/contract_templates.html" as contract %}
{% import "map/system_templates.html" as system %}
{% import "map/waypoint_templates.html" as waypoint %}
{% block title %}
Search
{% endblock %}
{% block body %}
    <div class="container pt-3">
        <p>Searched in {{ time[0:4] }} seconds</p>
        {% if map.__len__() != 0 %}
            <div class="row g-3">
                <div class="list-group list-group-flush">
                    {% for item in map %}
                        {% if item.__class__.__name__ == "System" %}
                            {{ system.system_list(item) }}
                            {# TODO: Fix hacks #}
                        {% elif item.__class__.__name__ == "Waypoint" %}
                            {{ waypoint.waypoint_list(item) }}
                        {% elif item.__class__.__name__ == "Contract" %}
                            {{ contract.contract_list(item) }}
                        {% elif item.__class__.__name__ == "Faction" %}
                            {{ faction.faction_list(item) }}
                        {% elif item.__class__.__name__ == "Ship" %}
                            {{ ship.ship_list(item) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            No results
        {% endif %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#helpModal">
            Search Tips
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Search Tips</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2>Usage</h2>
                    <pre>[name]: [comparison] [value]</pre>
                    <h2>Comparisons</h2>
                    <ul>
                        <li><code>=</code> - used by default when no other comparison is detected meaning you can leave it out of the query,
                            and it will be assumed.</li>
                        <li>
                            <code><</code>, <code>></code>, <code><=</code>, <code>>=</code> - used when comparing integers and floats
                        </li>
                    </ul>
                    <h2>General Filters</h2>
                    <ul>
                        <li><code>is</code> - Filter by type i.e. <code>is: system</code>.
                            Possible values are <code>system</code>, <code>waypoint</code>, <code>ship</code>, and
                            <code>all</code>.
                        </li>
                    </ul>
                    <h2>System Filters</h2>
                    <ul>
                        <li><code>type</code> - Filter by star type</li>
                        <li><code>waypoints</code> - Filter by number of waypoints.
                            For example, use <code>waypoints:>0</code> to search for all systems with at least one
                            waypoint.
                        </li>
                        <li><code>x</code> - Filter by x coordinate</li>
                        <li><code>y</code> - Filter by y coordinate</li>
                    </ul>
                    <h2>Waypoint Filters</h2>
                    <ul>
                        <li><code>type</code> - Filter by waypoint type</li>
                        <li><code>trait</code> search for individual trait or multiple traits seperated by commas with
                            no spaces.
                        </li>
                        <li><code>system</code> - Filter by system</li>
                        <li><code>x</code> - Filter by x coordinate</li>
                        <li><code>y</code> - Filter by y coordinate</li>
                    </ul>
                    <h2>Ship Filters</h2>
                    <ul>
                        <li><code>type</code> - Filter by ship role (`ship.registration.role`) </li>
                        <li><code>status</code> - Nav status (i.e. `IN_TRANSIT`, `IN_ORBIT`, or `DOCKED`) </li>
                        <li><code>fuel</code> - Filter by the raw value of the ships current fuel </li>
                        <li><code>cargo</code> - Filter by the raw value of the ships current cargo </li>
                        <li><code>waypoint</code> - Filter by ship waypoint location </li>
                        <li><code>system</code> - Filter by ship system location</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // TODO: fix hack
        $("#search-box").val("{{ query|safe }}");
    </script>
{% endblock %}
{% block navid %}search-bar{% endblock %}