{% extends 'base.html' %}
{% import "faction/faction_templates.html" as faction %}
{% import "ship/ship_templates.html" as ship %}
{% import "faction/contract/contract_templates.html" as contract %}
{% import "map/system_templates.html" as system %}
{% import "map/waypoint_templates.html" as waypoint %}
{% block title %}
Search
{% endblock %}
{% block body %}
    <p>Searched in {{ time }}</p>
    {% if map.__len__() != 0 %}
        <div class="row g-3">
            <div class="list-group list-group-flush" style="max-width: 70%;">
                {% for item in map %}
                    {% if item.__class__.__name__ == "System" %}
                        {{ system.system_list(item) }}
                    {# TODO: Fix hacks #}
                    {% elif item.__class__.__name__ == "Waypoint" %}
                        {{ waypoint.waypoint_list(item) }}
                    {% elif item.__class__.__name__ == "Contract" %}
                        {{ contract.contract_list(item) }}
                    {% elif item.__class__.__name__ == "Faction" %}
                        {{ faction.faction_list(item) }}
                    {% elif item.__class__.__name__ == "Ship" %}
                        {{ ship.ship_list(item) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        No results
    {% endif %}
    <script>
        // TODO: fix literal hack
        $("#search-box").val("{{ query|safe }}");
    </script>
{% endblock %}
{% block navid %}search-bar{% endblock %}