<h1>Search Docs</h1>
<h2>Usage</h2>
<pre>[name]: [comparison] [value]</pre>
<h2>Comparisons</h2>
<ul>
    <li><pre>=</pre> - used by default when no other comparison is detected meaning you can leave it out of the query, and it will be assumed.</li>
    <li><pre><</pre>, <pre>></pre>, <pre><=</pre>, <pre>>=</pre> - used when comparing integers and floats</li>
</ul>
<h2>General Filters</h2>
<ul>
    <li>`is` - Filter by type i.e. `is: system`. Possible values are `system`, `waypoint`, `ship`, and `all`.</li>
</ul>
<h2>System Filters</h2>
<ul>
    <li>`type` - Filter by star type </li>
    <li>`waypoints` - Filter by number of waypoints. For example, use `waypoints:>0` to search for all systems with at least one waypoint. </li>
    <li>`x` - Filter by x coordinate </li>
    <li>`y` - Filter by y coordinate</li>
</ul>
<h2>Waypoint Filters</h2>
<ul>
    <li>`type` - Filter by waypoint type</li>
    <li>`trait` search for individual trait or multiple traits seperated by commas with no spaces.</li>
    <li>`system` - Filter by system</li>
    <li>`x` - Filter by x coordinate</li>
    <li>`y` - Filter by y coordinate</li>
</ul>
<h2>Ship Filters</h2>
<ul>
    <li><pre>type</pre> - Filter by ship role (`ship.registration.role`) </li>
    <li><pre>status</pre> - Nav status (i.e. `IN_TRANSIT`, `ORBITING`, or `DOCKED`) </li>
    <li><pre>fuel</pre> - Filter by the raw value of the ships current fuel </li>
    <li><pre>cargo</pre> - Filter by the raw value of the ships current cargo </li>
    <li><pre>waypoint</pre> - Filter by ship waypoint location </li>
    <li><pre>system</pre> - Filter by ship system location</li>
</ul>
