{% extends 'base.html' %}
{% block title %}
Settings
{% endblock %}
{% block body %}
    <h1 class="center">Settings</h1>
    <div id="flash-box" class=flashes>
        {% for announcement in announcements %}
            <div class="alert alert-info" role="alert">
                <div>{{ announcement|safe }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="row g-3 p-3">
        <div class="col">
            <h2 class="center">Server Info</h2>
            <p>Version: {{ status.version }}</p>
            <p>Status: {{ status.status }}</p>
            <p>Last Reset: {{ macros.time_display(status.reset_date) }}</p>
            <p>Next Reset: {{ macros.time_display(status.next_reset) }}</p>
            <h2 class="center">Links</h2>
            <ul class="list-group  list-group-flush" style="max-width: 400px; margin-bottom: 10px">
                {% for link in status.links %}
                    <li class="list-group-item list-group-item-action" onclick="window.location.href = '{{ link.url }}'"><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
            <h2 class="center">Client Settings</h2>
            <form class="p-3 row g-3">
                <div class="col-md-6">
                    <label for="token" class="form-label">Token</label>
                    <input type="text" class="form-control" id="token" value="{{ token }}">
                </div>
                <div class="col-md-6">
                    <p>Theme</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="themeRadios" id="system" value="" onclick="setThemePreference('auto')">
                        <label class="form-check-label" for="system">
                            System
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="themeRadios" id="light" value="light" onclick="setThemePreference('light')">
                        <label class="form-check-label" for="light">
                            Light
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="themeRadios" id="dark" value="dark" onclick="setThemePreference('dark')">
                        <label class="form-check-label" for="dark">
                            Dark
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-primary" onclick="save()">Save Token</button>
                </div>
            </form>
            <p>Timezone: {{ tz }}</p>
        </div>
    </div>
    <script>
        if (localStorage.getItem("theme") === "light") {
            $("#light").prop("checked", true);
        }
        else if (localStorage.getItem("theme") === "dark") {
            $("#dark").prop("checked", true);
        }
        else {
            $("#system").prop("checked", true);
        }

        const getPreferredTheme = () => { // TODO: Remove duplicate code
            if (localStorage.getItem('theme')) {
                return localStorage.getItem('theme')
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        function setThemePreference(theme) {
            console.log("Set theme to " + theme);
            localStorage.setItem("theme", theme);
            setTheme(getPreferredTheme());
        }

        async function save() {
            let resp = await fetch("/settings-api/?token=" + $("#token").val());
            console.log(await resp.text());
        }
    </script>
{% endblock %}
{% block navid %}settings{% endblock %}
