{% extends 'base.html' %}
{% block title %}
Settings
{% endblock %}
{% block body %}
    <div class="container p-3">
        <div class="row justify-content-center text-center">
            <h1>Settings</h1>
        </div>
        <div id="flash-box" class=flashes>
            {% for announcement in announcements %}
                <div class="alert alert-info" role="alert">
                    <div>{{ announcement|safe }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="row g-3 p-3">
            <div class="col">
                <div class="row justify-content-center text-center">
                    <h2>Server Info</h2>
                </div>
                <p><b>Version</b> <span class="float-right">{{ status.version }}</span></p>
                <p><b>Status</b> <span class="float-right">{{ status.status }}</span></p>
                <p><b>Last Reset</b> <span class="float-right">{{ status.reset_date }}</span></p>
                <p><b>Next Reset</b> <span class="float-right">{{ macros.time_display(status.server_resets.next) }}</span></p>
                <div class="row justify-content-center text-center">
                    <h2>Links</h2>
                </div>
                <ul class="list-group  list-group-flush" style="max-width: 400px; margin-bottom: 10px">
                    {% for link in status.links %}
                        <li class="list-group-item list-group-item-action" onclick="window.location.href = '{{ link.url }}'"><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <div class="row justify-content-center text-center">
                    <h2>Client Settings</h2>
                </div>
                <form class="row py-3 g-3">
                    {% if user.is_authenticated %}
                        <div class="col-md-6">
                            <label for="token" class="form-label">Token</label>
                            <input type="text" class="form-control" id="token" value="{{ token }}">
                        </div>
                    {% endif %}
                    <div class="col-md-6">
                        <p>Theme</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="themeRadios" id="system" value="" onclick="setThemePreference('auto')">
                            <label class="form-check-label" for="system">
                                System
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="themeRadios" id="light" value="light" onclick="setThemePreference('light')">
                            <label class="form-check-label" for="light">
                                Light
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="themeRadios" id="dark" value="dark" onclick="setThemePreference('dark')">
                            <label class="form-check-label" for="dark">
                                Dark
                            </label>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="col-12">
                            <button type="button" class="btn btn-primary" onclick="save()">Save Token</button>
                        </div>
                    {% endif %}
                </form>
                <p><b>Timezone</b> {{ tz }}</p>
                <p><b>Dev Options (Causes changes to files)</b></p>
                <a href="/update-local-data" class="btn btn-sm btn-danger">Update Local Cache</a>
            </div>
        </div>
    </div>
    <script>
        if (localStorage.getItem("theme") === "light") {
            $("#light").prop("checked", true);
        } else if (localStorage.getItem("theme") === "dark") {
            $("#dark").prop("checked", true);
        } else {
            $("#system").prop("checked", true);
        }

        const getPreferredTheme = () => { // TODO: Remove duplicate code
            if (localStorage.getItem('theme')) {
                return localStorage.getItem('theme')
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        function setThemePreference(theme) {
            console.log("Set theme to " + theme);
            localStorage.setItem("theme", theme);
            setTheme(getPreferredTheme());
        }

        async function save() {
            let resp = await fetch("/settings-api/?token=" + $("#token").val());
            console.log(await resp.text());
        }
    </script>
{% endblock %}
{% block navid %}settings{% endblock %}
