{% extends 'base.html' %}
{% block title %}
Waypoint - {{ waypoint.symbol }}
{% endblock %}
{% block body %}
    <h1 class="center">{{ waypoint.symbol }}</h1>
    <p class="center">{{ waypoint.waypoint_type }}</p>
    <p class="left-margin">Traits: {% for trait in waypoint.traits  %}{{ trait.name }}{{ ", " if not loop.last else "" }}{% endfor %}</p>
    <p class="left-margin">Coordinates: ({{ waypoint.x }}, {{ waypoint.y }})</p>
    <p class="left-margin">Faction: ({{ waypoint.faction }})</p>
    {% if waypoint.marketplace %}
        <h2 class="center">Marketplace</h2>
        <div class="row">
            {% if marketplace.imports != []  %}
            <div class="col">
                <h3 class="left-margin">Imports</h3>
                <ul class="list-group left-margin" style="max-width: 400px;margin-bottom: 10px">
                    {% for good in marketplace.imports %}
                        <li class="list-group-item">{{ good }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if marketplace.exports != [] %}
            <div class="col">
                <h3 class="left-margin">Exports</h3>
                <ul class="list-group left-margin" style="max-width: 400px;margin-bottom: 10px">
                    {% for good in marketplace.exports %}
                        <li class="list-group-item">{{ good }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if marketplace.trade_goods != None %}
            <div class="col">
                <h3 class="left-margin">Trades</h3>
                <table class="table">
                        <tr>
                            <th>Symbol</th>
                            <th>Buy Price</th>
                            <th>Sell Price</th>
                            <th>Quantity</th>
                            <th>Volume</th>
                        </tr>
                        {% for good in marketplace.trade_goods %}
                            <tr>
                                <td>{{ good.symbol }}</td>
                                <td>{{ good.purchase_price }}</td>
                                <td>{{ good.sell_price }}</td>
                                <td>{{ good.supply }}</td>
                                <td>{{ good.trade_volume }}</td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    {% endif %}
    {% if waypoint.shipyard %}
        <div class="row">
        <h2 class="center">Shipyard</h2>
        <ul class="list-group left-margin" style="max-width: 400px;margin-bottom: 10px">
            {% for ship in shipyard.ship_types %}
                <li class="list-group-item">
                    {{ ship }}<span style="float: right">
                        <button class="btn btn-primary btn-sm" onclick="buy('{{ ship }}')">Buy</button>
                    </span>
                </li>
            {% endfor %}
        </ul>
        </div>
        <script>
            function buy(ship) {
                fetch("/waypoint/{{ waypoint.symbol }}/buy-ship/?ship="+ship)
            }
        </script>
    {% endif %}
{% endblock %}
{% block navid %}systems{% endblock %}"