@font-face {
    font-family: "Fira Code";
    src: url("/static/fira.ttf");
}

body {
    font-family: "Fira Code", monospace;
    --bs-body-font-family: "Fira Code", monospace;
}

.bs-theme-adhere {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity)) !important;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-body-color-rgb),var(--bs-text-opacity)) !important;
}
